h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mantine-primary-color-filled);
}

a {
  color: var(--mantine-primary-color-filled);
  font-weight: 600 !important;
}

.mdxeditor-toolbar {
  border-radius: 0 !important;
}

.prose {
  min-height: 280px;
}

.react-flow {
  height: calc(100vh - 48px) !important;
}

.mantine-NumberInput-input {
  max-width: 80px;
}

.mantine-Stepper-steps {
  padding: calc(1.875rem* var(--mantine-scale));
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: var(--mantine-shadow-sm);
  background-color: var(--mantine-color-body);
}

.mantine-Accordion-content {
  padding: 0!important;
}

:root {
  --input-padding-y : 2px;
}
