h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mantine-primary-color-filled);
}

a {
  color: var(--mantine-primary-color-filled);
  font-weight: 600 !important;
}

.react-flow {
  height: calc(100vh - 48px) !important;
}

.mantine-NumberInput-input {
  max-width: 80px;
}

#mantine-kk9zevk4q {
  background-color: #f8f8f2;
}

.MRT_GlobalFilterTextInput-module_collapse__v311d {
  background-color: #f8f8f2;
}

[data-mantine-color-scheme='light'] .m_6c018570[data-variant='filled'] {
  --input-bd: transparent;
  --input-bg: var(--mantine-color-white);
  --input-bd-focus: var(--mantine-primary-color-filled);
}

.navprogress {
  position:absolute;
  width: 100%;
  background-color: transparent;
}

.navlogo {
  line-height: 1;
  z-index: 201;
}

.mantine-Paper-root {
  @include light {
    background-color: var(--mantine-color-gray-0);
  }

  @include dark {
    background-color: var(--mantine-color-gray-7);
  }
}

.mantine-Stepper-steps {
  padding: calc(1.875rem* var(--mantine-scale));
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: var(--mantine-shadow-sm);
  background-color: var(--mantine-color-body);
}

.mantine-Accordion-content {
  padding: 0!important;
}

:root {
  --input-padding-y : 2px;
}

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

 code[class*='language-'],
 pre[class*='language-'] {
   color: #f8f8f2;
   background: none;
   font-family: var(--mantine-font-family-monospace);
   line-height: var(--mantine-line-height);
   padding: 2px calc(var(--mantine-spacing-xs) / 2);
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*='language-'] {
   padding: 1em;
   margin: 0.5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*='language-'],
 pre[class*='language-'] {
   background: #2e3440;
 }
 
 /* Inline code */
 :not(pre) > code[class*='language-'] {
   padding: 0.1em;
   border-radius: 0.3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #636f88;
 }
 
 .token.punctuation {
   color: #81a1c1;
 }
 
 .namespace {
   opacity: 0.7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #81a1c1;
 }
 
 .token.number {
   color: #b48ead;
 }
 
 .token.boolean {
   color: #81a1c1;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a3be8c;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #81a1c1;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #88c0d0;
 }
 
 .token.keyword {
   color: #81a1c1;
 }
 
 .token.regex,
 .token.important {
   color: #ebcb8b;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
