.menu {
  height: 100%;
  border-right: 1px solid #dadada;
  border-radius: 0;
  background-color: #fdfdfd;
  margin: 0;
  padding: var(--mantine-spacing-sm);
}

.edge {
  border-left: 1px solid var(--app-shell-border-color);
}
