.MRT_TableHeadCell-module_root__6y50a[data-column-pinned][data-column-pinned='right'][data-first-right-pinned],
.MRT_TableBodyRow-module_root__2c3D4 td[data-column-pinned][data-column-pinned='right'][data-first-right-pinned]:before {
  box-shadow: none;
  border-left: 1px solid var(--mantine-color-gray-4);
}

.MRT_TableBodyRow-module_root__2c3D4 td[data-column-pinned] {
  padding: 0;
  justify-content: center;
}

.MRT_EditActionButtons-module_root__BfxVZ {
  gap: 0;
}

.__m__-rgq {
  display: none;
}